#aboutme { 
    text-align:center;
    font-family: verdana;
    height: 100px;
    border-radius: 1%;
    margin-left: 5px;
    margin-top: 5px;
    border: 2px dashed blue;
    font-size: 100px;
    color: blue;
}

.abouts {
    	display: inline-block;
	margin-left: 5px;
	height: 350px;
	width: 350px;
	border-radius:100%;
	border:6px dashed blue;
	margin-left: 500px;
}

div p {
    position: ;
    margin: 50px;
    font-family: verdana;
    font-size 14px
}

ul {
    font-family: verdana;
    font-size: 17px;
    margin-left: 20px;
    margin-top: 
    position: relative;
}

#I {
    margin-top: 20px;
    margin-left:  ;
    position: relative;
}

a {
    text-decoration: none;
}

a:visited {
    color:black;
}

a:hover {
    color:purple;
}

#navbar-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
#navbar-list li {
    display: inline;
    color: white;
    padding-left: 40px;
    padding-right: 55px;
    font-family: Helvetica;
}
    
